.itemImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.divSlike {
    position: relative;
    width: 547px;
    height: 307px;
}

.gridItem {
    margin: 0;
    padding: 0;
    border: 3px solid black;
}

.title {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 8px;
    border-top: 3px solid;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(30% - 38px);
}

.itemContainer {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    column-gap: 64px;
    row-gap: 32px;
    grid-template-columns: 552px 552px;
    grid-template-rows: auto auto;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: #e0e0e0;
}