#searchBar {
    border-radius: 8px;
    height: 30px;
    border-width: 2px;
    width: 1155px;
    padding-left: 8px;
    letter-spacing: .01em;
    font-size: large;
}

#searchBarDiv {
    width: fit-content;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}